<!-- Much of this code copied from pdarragh at https://gist.github.com/pdarragh/c7ca120604c1a1d8b8de -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
  {% if fullurl == page.url %}
    {% assign current_page = fullurl %}
    {% break %}
  {% elsif page.url contains fullurl %}
    {% assign current_page = fullurl %}
  {% endif %}
{% endfor %}


<nav aria-label={{site.data.navigation.nav_list_title}} id="mainNav"
     class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand js-scroll-trigg"
       href="https://www.cs.washington.edu" aria-label={{site.data.navigation.nav_list_title}}>
       <img src="{{site.baseurl}}/assets/img/Allen-School-white-RGB-sm.png" alt="Allen School Logo" align=left style="max-width: 100%; height: auto;"> 
	  </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" id="menubar1" role="menubar"
      aria-label={{site.data.navigation.nav_list_title}}>
    {% for entry in site.data.navigation.nav_list %}
      {% if entry.url == current_page %}
         {% assign current = "current" %}
      {% else %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
        {% assign current = null %}
      {% endif %}
      {% assign sublinks = entry.sub links %}
      {% if sublinks %}
    <li class = "nav-item {{ current }}">
      {% if entry.url contains "http" %}
         {% assign base = "" %}
      {% else %}
         {% assign base = site.baseurl %}
      {% endif %}

      <a class="navbar-brand js-scroll-trigger" role="menuitem" href="{{ base }}{{ entry.url }}">{{ entry.title }}</a>
      <ul>
        {% for sublink in sublinks %}
	{% if sublink.url contains "http" %}
          {% assign base = "" %}
	{% else %}
          {% assign base = site.baseurl %}
	{% endif %}
        <li><a class="navbar-brand js-scroll-trigger"  role="menuitem" href="{{ base }}{{ sublink.url }}">{{ sublink.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
       {% else %}
    <li class = "nav-item {{ current }}">
      {% if entry.url contains "http" %}
         {% assign base = "" %}
      {% else %}
         {% assign base = site.baseurl %}
      {% endif %}

      <a class="navbar-brand js-scroll-trigger"  role="menuitem" href="{{base}}{{entry.url}}">{{ entry.title }}</a>
    </li>
       {% endif %}
    {% endfor %}
    </ul>
  </div>
</nav>
