div.learning-goals {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

div.learning-goals div {
  flex: 1 1 auto;
}

#assignment-name h1 {
  margin-bottom: 0;
}

#assignment-name span {
  font-size: small;
}

#assignment-name {
  margin-bottom: 2em;
}

#unpublished-warning {
   background-color: pink;
   border: 0.15em solid red;
   border-radius: 0.5em;
   color: red;
   font-size: large;
   padding: 0.25em 0.5em;
   margin-bottom: 1em;
}
