---
# This is the custom style sheet for remark
---
@import "fontawesome";
@import "remark-base";


.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
  h1, h2 {
    color: #f3f3f3;
    line-height: 0.8em;
  }
}

/* Slide-specific styling */

#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top: 151px;
  right: 140px;
  h3 {
    margin-top: 0.2em;
  }
  .first, .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
  }
  .first {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
  }
  .second {
    position: relative;
    background: #fff;
    z-index: 0;
  }
}

/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
  h2:last-of-type, h3:last-child {
    color: #000;
  }
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
  font-size: 1.5em;
}

.left-column50 {
  color: #777;
  width: 50%;
  height: 92%;
  float: left;
  h2:last-of-type, h3:last-child {
    color: #000;
  }
}

.right-column50 {
  width: 50%;
  float: right;
  padding-top: 1em;
  font-size: 1.5em;
}

.font-small{
    font-size: .5em;
}
	   
