/* Header/Footer stuff */
div.my-header {
    background-color: #0086B3;
    background: linear-gradient(120deg, #155799, #159957);
    /*-webkit-gradient(linear, left top, right top, color-stop(0%,#445588), color-stop(0%,#445588), color-stop(0%,#159957), color-stop(10%,#159957), color-stop(25%,#1586B3), color-stop(100%,#0086B3));*/
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
    vertical-align:middle;
    align-items: center
}

div.my-footer {
    background-color: #0086B3;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: right;
}

div.my-footer span {
    font-size: 10pt;
    position: absolute;
    left: 15px;
    bottom: 2px;
    height: 30px;
    text-align: right;
    width: 100%;
}

