---
# This is the custom style sheet for remark
---
@import "fontawesome";
@import "remark-base";

.remark-code {
    font-family: 'Ubuntu Mono';
    font-size: 25px;
    height: 500px;
    overflow-y: scroll;
}

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  font-family: 'Ubuntu Mono';
  font-size: 25px;
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: .8em;
}

.jax{
    font: inherit; font-size: 100%; background: inherit; border: inherit;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    font-size: 0.9em;
    text-align: left;
}

@media print {
 .remark-container.remark-presenter-mode .remark-slide-notes {
  margin-top:700px;
 }
}

.quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}


.inverse {
  background:  #262626;
  color:  #e6e6e6;
  text-shadow: 0 0 20px #333;
  h1, h2 {
      color: #f1f1f1;
      line-height: 0.8em;
  }
}

.title {
  color: #333;
  float: left;
  font-size: 2em;
  padding-left: 1em;
}

.body {
  width: 85%;
  float: right;
  font-size: 1.5em;
  padding-left: 1em;
}
.body.compact {
  width: 85%;
  float: right;
  font-size: 1.2em;
  padding-left: 1em;
}

/* Slide-specific styling */

#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top: 151px;
  right: 140px;
  h3 {
    margin-top: 0.2em;
  }
  .first, .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
  }
  .first {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
  }
  .second {
    position: relative;
    background: #fff;
    z-index: 0;
  }
}

/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
  h2:last-of-type, h3:last-child {
    color: #000;
  }
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
  font-size: 1.5em;
  padding-left: 1em;
}

.left-column-half {
  color: #777;
  width: 50%;
  float: left;
  h2:last-of-type, h3:last-child {
    color: #000;
  }
  padding-left: 1em;
}


.right-column-half {
  width: 48%;
  float: right;
  padding-top: 1em;
  font-size: 1.5em;
}


.right-column20 {
  width: 20%;
  float: right;
  padding-left: 1em;
}

.middle-column {
  width: 60%;
  float: left;
  padding-left: 1em;
}

.font-small{
    font-size: .5em;
}

.bold{
    font-weight: bold;
}

.blue {
  color: #0066ff;
}

.medium {
  font-size: 1.5em;
}

