---
# This is the custom style sheet for remark
---
@import "fontawesome";
@import "remark-base";

.remark-code {
    font-family: 'Ubuntu Mono';
    font-size: 25px;
    height: 500px;
    overflow-y: scroll;
}

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  font-family: 'Ubuntu Mono';
  font-size: 25px;
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: .8em;
  background: #f9f9f9;
  padding: 0px 5px 0px 5px;
}

.jax{
    font: inherit; font-size: 100%; background: inherit; border: inherit;
}


table {
  border: 2px solid #FFFFFF;
  text-align: left;
  table-layout:fixed;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table tbody td {
  font-size: 0.7em;
}
table td:nth-child(even) {
  background: #EBEBEB;
}
table thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}

table thead th {
  font-size: 0.7em;
  font-weight: bold;
  color: #333333;
  border-left: 2px solid #333333;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 0.7em;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table tfoot td {
  font-size:0.7em;
}
 

@media print {
 .remark-container.remark-presenter-mode .remark-slide-notes {
  margin-top:700px;
 }
}

.quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}


.inverse {
  background:  #262626;
  color:  #e6e6e6;
  text-shadow: 0 0 20px #333;
  h1, h2 {
      color: #f1f1f1;
      line-height: 0.8em;
  }
}

.title {
  color: #333;
  float: left;
  font-size: 2em;
  padding-left: 1em;
}

.body {
  width: 85%;
  float: right;
  font-size: 1.5em;
  padding-left: 1em;
}
.body.compact {
  width: 85%;
  float: right;
  font-size: 1.2em;
  padding-left: 1em;
}

/* Slide-specific styling */

#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top: 151px;
  right: 140px;
  h3 {
    margin-top: 0.2em;
  }
  .first, .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
  }
  .first {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
  }
  .second {
    position: relative;
    background: #fff;
    z-index: 0;
  }
}

.upper_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
}
.upper_right {
	position: absolute;
	top: 100;
	right: 0%;
	width: 640px;
}
.lower_left {
	position: absolute;
	bottom: 10%;
	width: 200px;
	left: 0;
}
.lower_right {
	bottom: 10%;
	right: 10%;
	width: 200px;
	position: absolute;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
  h2:last-of-type, h3:last-child {
    color: #000;
  }
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
  font-size: 1.5em;
  padding-left: 1em;
}

.left-column-half {
  color: #777;
  width: 50%;
  float: left;
  h2:last-of-type, h3:last-child {
    color: #000;
  }
  padding-left: 1em;
}


.right-column-half {
  width: 48%;
  float: right;
  padding-top: 1em;
  font-size: 1.5em;
}


.right-column20 {
  width: 20%;
  float: right;
  padding-left: 1em;
}

.middle-column {
  width: 60%;
  float: left;
  padding-left: 1em;
}

.font-small{
    font-size: .5em;
}

.bold{
    font-weight: bold;
}

.blue {
  color: #0066ff;
}
.red {
  color: #e43;
}

.highlight {
  color: #096000;
  background: #fff9ff;
}

.medium {
  font-size: 1.5em;
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 740px;
    height: 372px;
    background: rgba(0,0,0,0.6);
    transform: skew(200.25deg);
    left: 300px;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.brtl{
  top: 240px;
  left: 100px;
  font-size: 2em;
  width: 1200px;
  line-height: 100px;
  transform: rotate(-45deg);
  z-index: 10;
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.tlbr{
    top: auto;
    left: auto;
    bottom: 240px;
    right: 100px;
    font-size: 2em;
    width: 1200px;
    line-height: 100px;
    transform: rotate(45deg);
    z-index: 10;
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}
