ul#markdown-toc {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#markdown-toc li{
    display: inline;
    padding: 5px;
    background: #d8fccf;
    style:bold;
}

.navbar {
    background-color:  #445588;
    opacity: 0.6;
}

table.schedule {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: left;
  table-layout:fixed;
  border-collapse: collapse;
}
#unpublished-warning {
   background-color: pink;
   border: 0.15em solid red;
   border-radius: 0.5em;
   color: red;
   font-size: large;
   padding: 0.25em 0.5em;
   margin-bottom: 1em;
}
table.schedule td, table.schedule th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.schedule tbody td {
  font-size: 13px;
}
table.schedule td:nth-child(even) {
  background: #EBEBEB;
}
table.schedule thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.schedule thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: ;
  border-left: 2px solid #333333;
}
table.schedule thead th:first-child {
  border-left: none;
}

table.schedule tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.schedule tfoot td {
  font-size: 14px;
}
 
