<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}

    <main id="content" class="main-content" role="main">
      {% if page.published != true %}
      <div id="unpublished-warning">
        This assignment has not yet been released. Its requirements and code base are subject to change.
      </div>
      {% endif %}

      <div id="assignment-name">
        <h1>{{ page.code }}: {{ page.title }}</h1>
        <span>Last revised: {{ page.revised }}</span>
      </div>

      <div class="learning-goals">
        <div id="android-goals">
          <strong>Assigned</strong>: {{ page.assigned }}
          <h3>Android Goals:</h3>
          <ul>
            {% for goal in page.android_goals %}
              <li>{{goal}}</li>
            {% endfor %}
          </ul>
        </div>
        <div id="hci-goals">
          <strong>Due</strong>: {{ page.due }}
          <h3>HCI Goals:</h3>
          <ul>
            {% for goal in page.hci_goals %}
              <li>{{goal}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {{ content }}

      {% include footer.html %}
    </main>

  <script src="{{ '/assets/js/mermaid.js' | relative_url}}"></script>
  <link rel="stylesheet" href="{{ '/assets/css/mermaid.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/assignment.css' | relative_url }}">
  <script>mermaid.initialize({startOnLoad:true});</script>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
