<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    
    
    {% include header.html %}

    <main id="content" class="main-content" role="main">
{% if page.warning != none %}
      <div id="unpublished-warning">
	This is the CSE340-W20 website. It is currently in
	development and not final
      </div>
{% endif %}

      {{ content }}

{% include footer.html %}
    </main>

  <script src="{{ '/assets/js/mermaid.js' | relative_url}}"></script>
  <link rel="stylesheet" href="{{ '/assets/css/mermaid.css' | relative_url }}">
  <script>mermaid.initialize({startOnLoad:true});</script>
 
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
